html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #131424;
  background-image: url('background-signin.jpg');
  background-size: cover; /* untuk mengatur ukuran gambar */
  background-position: center center; /* untuk mengatur posisi gambar */
  background-repeat: no-repeat; /* untuk mengatur apakah gambar diulang atau tidak */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
